/*  GRAY:   RGB(237, 238, 238); */
/*  BLACK:  RGB(56, 53, 51);*/
/*  BLUE:   RGB(85, 119, 145) */

/* App.css */

.app-container {
  display: flex;
  height: 100vh;
  flex-wrap: nowrap;
}

.chat-panel-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: RGB(237, 238, 238);
}

.primary-content-wrapper {
  flex: 3;
  /* background-color: #ffffff; */
  padding: 20px;
  border-left: 1px solid RGB(237, 238, 238);
  border-right: 1px solid RGB(237, 238, 238);
}

.navigation-wrapper {
  display: flex;
  flex-direction: column;
  width: 60px;
  background-color: RGB(56, 53, 51);
  color: white;
}

.branding {
  padding: 10px;
  background-color: RGB(85, 119, 145);
  color: white;
  text-align: center;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navigation ul li {
  padding: 10px;
  border-bottom: 1px solid RGB(56, 53, 51);
}
