/*  GRAY:   RGB(237, 238, 238); */
/*  BLACK:  RGB(56, 53, 51);*/
/*  BLUE:   RGB(85, 119, 145) */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: RGB(237, 238, 238);
  font-family: 'GT Walsheim Pro' , sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: RGB(56, 53, 51);
}

.App-link {
  color: RGB(85, 119, 145);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
